.bgcolor{
    background-color: #f26e20;
    padding-top: 20px;
    padding-bottom: 200px;
}

.titleSection{
    text-transform: uppercase;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    border-bottom: white 2px solid;
    margin-top: 15px;
}

.card{
    background-color: white;
    padding: 0;
    margin: 0 30px 0 30px;
    border-radius: 50px;
    box-shadow: 0 5px 28px black;
}

.date{
    color: #237446;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin-left: 28px;
    margin-top: 15px;
}

.titlePost{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 25px;
    margin-left: 28px;
}

.link{
    color: #f26e20;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    margin-left: 28px;
    margin-bottom: 20px;
}

.linkPost{
    text-decoration: none;
}