.bgcolor{
    background: rgb(2,62,29);
    background: linear-gradient(180deg, rgba(2,62,29,1) 15%, rgba(2,32,15,1) 15%);
    border-top: solid 2px white;
    padding-bottom: 50px;
}

.fraseFooter{
    font-family: 'Univers Bold';
    color: #CB5A06;
    text-transform: uppercase;
    font-size: 45px;
    line-height: 42px;
}

.email{
    color: #CB5A06;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 22px;
}

.social{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 19px;
    margin-bottom: 5px;
}

.icon{
    color: #CB5A06;
    font-size: 25px;
    margin-right: 10px;
}

.link{
    color: #CB5A06;
    text-decoration: none;
}

.link:hover{
    color: #CB5A06;
}

@media(max-width: 600px){
    .bgcolor{
        background: rgba(2,32,15,1);
    }

    .image{
        display: none;
    }

    .rowMaq{
        margin-top: 0 !important;
    }

    .email{
        margin-top: 15px;
    }

    .social{
        margin-top: 15px;
    }
}