.header{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
     background: rgb(255,255,255);
}

.col{
    text-align: right;
}

.link{
    margin-right: 20px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.link:hover{
    color: rgb(0, 0, 0);
}

@media(max-width: 600px){

    .logo{
        margin-right: 20px;
    }

    .col2{
        margin-left: -30px;
    }
}