.bgcolor{
    background-color: #0A390E;
    padding-top: 50px;
    padding-bottom: 50px;
}

.titleSection{
    font-family: 'Raleway', sans-serif;
    color: #F26E20;
    text-align: center;
    font-size: 54px;
}

.machineTitle{
    color: white;
    text-transform: uppercase;
    font-family: 'Raleway';
    font-size: 20px;
    margin-top: 25px;
    padding-bottom: 15px;
    border-bottom: solid 4px #F26E20;
}

.divider{
    height: 2px;
    background-color: white;
    margin-top: 5px;
}

.img{
    margin-bottom: 50px;
}

.margin{
    margin-top: 50px;
    text-align: center;
}

.column{
    background: rgb(19,109,34);
background: linear-gradient(188deg, rgba(19,109,34,1) 36%, rgba(8,27,5,1) 100%);
padding: 0;
margin: 0 30px 0 30px;
border-radius: 50px;
}

.nameMachine{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 25px;
    border-bottom: #F26E20 solid 2px;
    padding-bottom: 15px;
    margin: 30px 30px 0 30px;
}

.textmachine{
    color: white;
    font-family: 'Raleway';
    font-weight: 500;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 15px;
    text-align: left;
    font-size: 15px;
}

.borderCard{
    border: solid 2px #238E25;
    border-radius: 50px;
    padding: 10px 20px 30px 20px;
    margin: 25px;
}

.textCard{
    color: white;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    margin-top: 20px;
}

.button{
    background: rgb(251,151,0);
    background: linear-gradient(180deg, rgba(251,151,0,1) 36%, rgba(203,90,6,1) 100%);
    border: none;
    padding: 20px 55px 20px 55px;
    color: white;
    font-family: 'Raleway';
    font-weight: 800;
    border-radius: 50px;
    margin-bottom: 20px;
}

.empty{
    padding: 0;
    margin: 0 30px 0 30px;
    border-radius: 50px;
}

@media(max-width: 600px){
    .titleSection{
        font-size: 25px;
    }

    .column{
        margin-bottom: 50px;
    }

    .empty{
        display: none;
    }
}
