.videobg{
    height: 100vh;
    border-bottom: #F26E20 solid 10px;
}

.bgGradient{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
}

.colLogo{
    margin-left: 50px;
}

.col{
    text-align: right;
}

.link{
    margin-right: 20px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: white;
}

.link:hover{
    color: white;
}

.bgbanner{
    background-image: url(../public/imgs/banner.jpg);
    padding-top: 300px;
    padding-bottom: 300px;
    background-size: cover;
    border-bottom: solid 15px #F26E20;
}


.icon{
    font-size: 80px;
    color: #F26E20;
}

.button{
    background-color: transparent;
    border: none;
}

.button:hover{
    background-color: transparent;
    border: none;
}


@media(max-width: 600px){
    .videobg{
        height: 89vh;
        border-bottom: #F26E20 solid 10px;
    }

    .col2{
        margin-left: -30px;
    }

    .bgGradient{
        display: none;
    }
}