.bgbanner{
    background-image: url(../public/imgs/banner.jpg);
    padding-top: 300px;
    padding-bottom: 300px;
    background-size: cover;
    border-bottom: solid 15px #F26E20;
}

.icon{
    font-size: 80px;
    color: #F26E20;
}

.button{
    background-color: transparent;
    border: none;
}

.button:hover{
    background-color: transparent;
    border: none;
}


body.active-modal {
    overflow-y: hidden;
}

.btnModal {
    padding: 10px 20px;
    display: block;
    margin: 0 auto 0;
    background-color: transparent;
    border: none;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    padding: 14px 28px;
    border-radius: 3px;
}

.video{
    border-radius: 15px;
}

.closeModal {
    position: absolute;
    top: -25px;
    right: 10px;
    padding: 5px 7px;
    cursor: pointer;
}

.closeIcon{
    color: white;
    font-size: 35px;
}


@media(max-width: 600px){
    .bgbanner{
        background-size: cover;
        padding-top: 110px;
        padding-bottom: 110px;
    }

    .icon{
        font-size: 60px;
        margin-top: 60px;
    }

    .modalContent {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        line-height: 1.4;
        padding: 14px 28px;
        border-radius: 3px;
    }

    .closeModal {
        position: absolute;
        top: -25px;
        right: 10px;
        padding: 5px 7px;
        cursor: pointer;
    }

    .video{
        width: 350px !important;
        height: 200px !important;
    }

    .closeModal {
        position: absolute;
        top: -25px;
        right: 30px;
        padding: 5px 7px;
        cursor: pointer;
    }
}