.bgcolor{
    background-color: #F26E20;
    padding-top: 60px;
    padding-bottom: 190px;
}

.titleSection{
    color: white;
    text-transform: uppercase;
    font-family: 'Raleway';
    font-weight: 800;
    text-align: center;
    font-size: 25px;
}

.name{
    color: white;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
}

.value{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 35px;
}

.variacao{
    color: white;
    font-family: 'Raleway', sans-serif;
}

.praca{
    color: white;
    font-family: 'Raleway', sans-serif;
}

.divider{
    height: 4px;
    background-color: white;
    margin-top: 50px;
}

.indicadores{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    border-right: solid 2px white;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

@media(max-width: 600px){
    .value{
        font-size: 30px;
    }

    .praca{
        margin-bottom: 28px;
    }

    .bgcolor{
        padding-bottom: 40px;
    }
}