.background{
    padding-top: 60px;
    padding-bottom: 60px;
}

.row{
    text-align: center;
}

.title{
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-size: 28px;
    line-height: 28px;
    margin-top: 20px;
}

.title2{
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-size: 28px;
    line-height: 28px;
    margin-top: 20px;
}

.value{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gotham Bold', sans-serif;
    font-size: 70px;
    color: #F26E20;
}

.fonts{
    text-align: justify;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    margin-top: 30px;
    margin-right: 60px;
    margin-left: 60px;
    line-height: 40px;
}

@media(max-width: 600px){
    .fonts{
        margin: 0;
        line-height: 25px;
    }

    .title2{
        margin-bottom: 70px;
        margin-top: 0;
    }
}
