.bgbanner{
    background-image: url(../public/imgs/banner-comvoce.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 150px;
}

.title{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: 'Univers Bold';
    font-size: 90px;
    margin-bottom: 50px;
}

.titleSection{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #F26E20;
    font-size: 24px;
}

.text{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    margin-top: 20px;
    margin-right: 15px;
}

.textPhrase{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-top: 20px;
}

@media(max-width: 600px){

    .bgbanner{
        background-position: left;
        padding-top: 60px;
        padding-bottom: 90px;
    }

    .title{
        font-size: 40px;
    }
}

