.bgcolor{
    background: rgb(10,57,14);
background: linear-gradient(180deg, rgba(10,57,14,1) 36%, rgba(15,36,7,1) 100%);
padding-top: 1px;
}

.titleSection{
    color: white;
    text-transform: uppercase;
    font-family: 'Raleway';
    font-size: 20px;
    margin-top: 25px;
    padding-bottom: 15px;
    border-bottom: solid 4px #F26E20;
}

.divider{
    height: 2px;
    background-color: white;
    margin-top: 5px;
}

.card{
    background-color: white;
    padding: 0;
    margin: 0 30px 0 30px;
    border-radius: 50px;
    box-shadow: 0 10px 25px black;
}

.date{
    font-family: 'Raleway', sans-serif;
    margin-left: 25px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 5px;
}

.titlePost{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: black;
    font-size: 25px;
    margin-left: 25px;
    line-height: 25px;
}

.link{
    margin-left: 25px;
    font-family: 'Raleway', sans-serif;
    color: #F26E20;
    font-weight: 700;
    margin-bottom: 20px;
}

.margin{
    margin-top: 40px;
}

.button{
    margin-top: 35px;
    background: rgb(251,151,0);
    background: linear-gradient(180deg, rgba(251,151,0,1) 36%, rgba(203,90,6,1) 100%);
    border: none;
    color: white;
    font-family: 'Raleway';
    font-weight: 600;
    padding: 15px 40px 15px 40px;
    border-radius: 35px;
    margin-bottom: 50px;
}

@media(max-width: 600px){
    .card{
        margin-bottom: 20px;
        margin: 0;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
    }

    .margin{
        display: none;
    }

    .mobile{
        margin-top: 40px;
    }

    .titlePost{
        font-size: 18px;
    }
}

@media(min-width: 1000px){
    .mobile{
        display: none;
    }
}
